@media (max-width: 376px){
  .ForecastContainer{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    background-color: #182c61;
    color: white;
  }

  .ForecastContainer h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Aqua', 'Roboto';
  }

  .ForecastContainerHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .ForecastContainerHeader h3{
    width: 80%;
    margin-right: 5px;
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: initial;
  }

  .CityIconEdit{
    display: flex;
    align-items: center;
  }

  .EditAdressIcon{
    line-height: 0;
  }

  .EditAdressIcon a{
    color: white;
  }

  .EditAdressIcon svg{
    width: 20px;
  }

  .cardContainer {
    width: 100%;
  }
}