@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .AdminPageContainer {
        display: block;
        justify-content: center;
        height: 100vh;
        color: #538abc;
    }
    .AdminPageContainer h1 {
        display: flex;
        justify-content: center;
        font-family: 'aqua';
        font-size: 40px;
        margin-top: 13px;
    }
    .TitleCreateUser {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e9e98a;
        font-size: 35px;
        margin-top: -55px;
    }

    .TitleCreateUser2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e9e98a;
        font-size: 35px;
        margin-top: -20px;
        margin-bottom:10px;

    } 

    .CreateUserFormContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        color: #538abc;
        margin: auto;
        width: 50%;
    }
    .lastname {
        width: 126%
    }

  
      ::placeholder {
        color: rgba(245, 245, 245, 0.411);
        margin-left: 5px;
        font-style: italic;

      }

    .BurgerMenu {
        margin-bottom: 60px;
        width: 56%;
    }
    .LogoStartAdmin {
        color: #538abc;
        font-family: 'aqua';
    }
    .LogoEndAdmin {
        color: #e9e98a;
        font-family: 'aqua';
    }

    .containerHR {
        width:300px;
    }

    hr.inputFieldHR {
       background:#92CEEF;
       margin:0;
       height:1.5px;
    }

    label{
        color:#92CEEF;
    }

    input#LastName, input#FirstName, input#ZipCode, input#City, input#email, input#Password, input#Compagny, input#CityReference {
        width:300px;
        background:none;
        border:none;
        height:40px;
    }

    select#Role {
        width: 310px;
        height: 40px;;
        background:none;
        border-color: #92CEEF;
        border-radius: 20px;
        color:#92CEEF;
        background-image:
    linear-gradient(45deg, transparent 50%, #182c61 50%),
    linear-gradient(135deg, #182c61 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
       
    }

    .selectPlaceholder{
        color:grey;
    }

    .TimePicker {
        width: 310px;
    }

    .select-btn {
        padding-left: 1px;
        color: skyblue
    }

    .spaceDiv {
        height: 10px;
    }

    .datepicker {
        position: absolute;
        left: 0;
        bottom: -190px;
        width: 100%;
        z-index: 1;
        font-size: 16px;
        text-align: center;
        font-family: arial,verdana,sans-serif;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-font-smoothing: antialiased;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .datepicker.android, .datepicker.android-dark {
        background-color:#a7dbf7;
        color:#182c61 ;
    }

  
    .datepicker.android .datepicker-viewport::after, .datepicker.android-dark .datepicker-viewport::after {
        background-image:  none;
        background-image: none;
    }

    .datepicker.android .datepicker-header, .datepicker.android-dark .datepicker-header {
        color: #182c61 ;
        border-bottom: 2px solid #182c61 ;
    }

    .datepicker.android .datepicker-wheel, .datepicker.android-dark .datepicker-wheel {
        border-top: 2px solid #182c61;
        border-bottom: 2px solid #182c61;
    }

    .datepicker.android .datepicker-navbar-btn, .datepicker.android-dark .datepicker-navbar-btn {
        padding: 0;
        color: #182c61;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
   
    .datepicker.android .datepicker-navbar-btn:nth-child(2), .datepicker.android-dark .datepicker-navbar-btn:nth-child(2) {
        border-left: 1px solid #182c61;
    }

    .datepicker.android .datepicker-navbar, .datepicker.android-dark .datepicker-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #182c61;
        padding: 0;
    }

    .datepicker-navbar-btn {
        font-weight: bold;
    }

    .datepicker-header {
        font-weight: bold;
    }
      
    .datepicker.android .datepicker-navbar, .datepicker.android-dark .datepicker-navbar {
        display: flex;
        border-top: 1px solid #182c61;
        padding: 0;
        height: 58px;
    }

    .btn-primary {
        background-color: rgb(255, 247, 0, 0.77);; 
        width: 150px;
        height: 45px;
        border:none;
        border-radius: 20px;
        font-weight: bold;
    }

    .submitCTAContainer {
        display: flex;
        justify-content: center;
    }

  }

