.Home_map_none
  .leaflet-container
  .leaflet-touch
  .leaflet-retina
  .leaflet-fade-anim
  .leaflet-grab
  .leaflet-touch-drag
  .leaflet-touch-zoom {
  width: 100% !important;
  height: 45px !important;
}

.leaflet-control-container {
  width: 100% !important;
  height: 45px !important;
}

.leaflet-top {
  width: 100% !important;
}

.leaflet-touch .geocoder-control.geocoder-control-expanded {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  height: 45px !important;
}

.leaflet-touch .geocoder-control-input {
  width: 50% !important;
  height: 45px !important;
  margin: 0 auto !important;
  right: initial !important;
  position: relative!important;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-container {
  width: 10px;
  height: 10px;
}
.container_01 {
  display: block;
  height: 80vh;
}
.container_01 h1 {
  display: flex;
  justify-content: center;
  font-family: 'aqua';
  font-size: 56px;
  margin-top: 63px;
}
.google_map {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.logo_start {
  color: #538abc;
  font-family: 'aqua';
}
.logo_end {
  color: #e9e98a;
  font-family: 'aqua';
}
.search_bar {
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5px;
  margin-top: 50px;
}
.search_bar_result {
  display: block;
  position: absolute;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5px;
}
.lamp_logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  flex-direction: column;
}
.text_intro {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'aqua';
  margin-top: 70px;
}
.text_start_intro {
  color: #538abc;
  margin-right: 18px;
}
.text_end_intro {
  color: #e9e98a;
}
.wrap_text_modo {
  margin-top: 12px;
  margin-left: 15%;
  margin-right: 15%;
  color: #e9e98a;
  font-size: 15px;
}
.text_modo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'roboto';
}

.searchCTAContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  z-index: 2;
}

.mapAndSearchContainer {
  height: 45px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.ContainerSearchHistory{
  margin-top: 30px;
}

.titleLastResearch{
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

button.searchCTA1 {
  width: 117px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 247, 0, 0.77);
  color: white;
  font-weight: bold;
  z-index: 3;
  /* margin-top: -34px; */
  /* margin-left: 19%; */
  
}
button.searchCTA2 {
  width: 117px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 247, 0, 0.77);
  color: white;
  font-weight: bold;
  /* position: absolute; */
  z-index: 3;
  /* margin-top: -34px;
  margin-right: -130px; */
}

button.searchCTA1 :hover {
  width: 150px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 247, 0, 0.77);
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* position: absolute; */
  z-index: 3;
}

button.searchCTA2 :hover {
  width: 150px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 247, 0, 0.77);
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* position: absolute; */
  z-index: 3;
}

.TextWaitGeoloc{
  color: white;
  margin: 0;
  width: 34%;
  line-height: 15px;
}

.logoHome {
  display: flex;
  justify-content: center;
}

.linkToForecats {
  display: flex;
  justify-content: center;
  border-style: solid;
  border: none;
}
.linkToForecats2 {
  display: flex;
  justify-content: center;
  border-style: solid;
  border: none;
  margin-top: -1px;
}

@media (max-width: 834px) {
  .leaflet-touch .geocoder-control-input {
    width: 75% !important;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .leaflet-right .leaflet-control {
    margin-right: 0 !important;
  }
}


.leaflet-top.leaflet-left{
  display:flex;
  justify-content: center;
}