@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  /* body {
    background-color: #2a2754;
  } */
  .leaflet-container {
    width: 100%;
    height: 640px;
  }
  .map {
    display: none
  }
  .container_01 {
    display: block;
    justify-content: center;
    height: 100vh;
    background-color: #2a2754;
  }
  .container_01 h1 {
    display: flex;
    justify-content: center;
    font-family: 'aqua';
    font-size: 56px;
    margin-top: 63px;
  }
  .google_map {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .logo_start {
    color: #538abc;
    font-family: 'aqua';
  }
  .logo_end {
    color: #e9e98a;
    font-family: 'aqua';
  }
  .search_bar {
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5px;
    margin-top: 50px;
  }
  .search_bar_result {
    display: block;
    position: absolute;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;
  }
  .lamp_logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .text_intro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'aqua'
  }
  .text_start_intro {
    color: #538abc;
    margin-right: 18px;
  }
  .text_end_intro {
    color: #e9e98a;
  }
  .wrap_text_modo {
    margin-top: 12px;
    margin-left: 15%;
    margin-right: 15%;
    color: #e9e98a;
    font-size: 15px;
  }
  .text_modo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'roboto';
  }
}
