@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  body {
    background-color: #2a2754;
  }
  .leaflet-container {
    width: 10px;
    height: 10px;
  }
  .container_01 {
    display: block;
    justify-content: center;
    height: 100vh;
  }
  .container_01 h1 {
    display: flex;
    justify-content: center;
    font-family: 'aqua';
    font-size: 56px;
    margin-top: 63px;
  }
  .google_map {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .logo_start {
    color: #538abc;
    font-family: 'aqua';
  }
  .logo_end {
    color: #e9e98a;
    font-family: 'aqua';
  }
  .search_bar {
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5px;
    margin-top: 50px;
  }
  .search_bar_result {
    display: block;
    position: absolute;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;
  }
  .lamp_logo {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    flex-direction: column;
  }
  .text_intro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'aqua';
  }
  .text_start_intro {
    color: #538abc;
    margin-right: 18px;
  }
  .text_end_intro {
    color: #e9e98a;
  }
  .wrap_text_modo {
    margin-top: 12px;
    margin-left: 15%;
    margin-right: 15%;
    color: #e9e98a;
    font-size: 15px;
  }
  .text_modo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'roboto';
  }

  .searchCTAContainer{
    width:375px;
    height: 50px;
    display:flex;
    justify-content: center;
    z-index:2;
   
  }

  .mapAndSearchContainer {
    z-index:1
  }

  button.searchCTA {
    width:150px;
    border-color:blue;
    border-style:solid;
    height:35px;
    text-align:center;
    border-radius:20px;
    border:none;
    background-color: rgb(255, 247, 0, 0.77);
    color: white;
    font-weight: bold;
    margin-top:-10%;
    position: absolute;
    z-index:3;
  }

  button.searchCTA:hover {
    width:150px;
    height:35px;
    text-align:center;
    border-radius:20px;
    border:none;
    background-color: rgba(255, 247, 0, 0.77);
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    z-index:3;
  }

  .logoHome{
    display:flex;
    justify-content: center;
  }

  .linkToForecats {
    display: flex;
    justify-content: center;
    border: none;
    width:375px;
    
  }
}
