.ForecastDetailsContainer{
  background-color: #C5DAED;
  width: 100%;
  height: 380px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ForecastDetailsContainer p{
  margin: 0;
}

.FavouritIcon{
  width: 13%;
  margin-right: 5%;
  margin-top: 3%;
}

.dateForcast{
  margin-top: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.dateForcast p{
  padding-top: 20px;
  padding-bottom: 10px;
}

.weatherContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: black;
}

.weatherContainer img{
  width: 55px;
  height: auto;
  margin-right: 10px;
}

.weatherContainer{
  font-size: 2rem;
}

.hr1{
  border-top: 0.5px solid #54739762;
  width: 100%;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  margin-top: -3%;
}

.sunIcon {
  width: 50px;
  height: 50px; 
}

.sunriseSunsetContainer{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
  stroke: #F3BB33!important;
  fill: #F3BB33!important;
}

.sunriseContainer,
.sunsetContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunriseContainer p,
.sunsetContainer p{
  color: #547397;
  font-size: 1em;
}

.forecastLightningContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecastLightningContainer p{
  color: black;
  padding-bottom: 10px;
}

.dayforecastLightningJauge {
  padding-bottom: 10px;
}

.dayforecastLightningHourInfo {
  display: flex;
  justify-content: space-between;
  width: 43%;
}

.hourValue {
  color: black;
  font-size:1em;
  margin-top: 10px;
}