.ContactForm {
  color: #c5daed;
  display: flex;
  justify-content: center;
}

.submit-form {
  border: none;
  background-color: #c5daed;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.containerHR {
  width:300px;
}

.ContactForm label{
  color:#92CEEF;
  text-align:left;
  width: 300px;
  margin-bottom: 20px;
}

.ContactForm input#name,
.ContactForm input#email{
  width:300px;
  background:none;
  border:none;
  height:40px;
  color: white;
}

.ContactForm ::placeholder {
  color: rgba(245, 245, 245, 0.411);
  margin-left: 5px;
  font-style: italic;
}

.messageField textarea {
  width: 300px;
  height: 150px;
  border-color: skyblue;
  border-width: 2px;
  background: none;
  color: white;
}

.btn-primary {
  background-color: rgb(255, 247, 0, 0.77);; 
  width: 150px;
  height: 45px;
  border:none;
  border-radius: 20px;
  font-weight: bold;
}

.submitCTAContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 836px){
  .ContactForm input#email, .ContactForm input#name,
  .containerHR,
  .ContactForm label,
  .messageField textarea{
    width: 100%;
  }
}