.leaflet-pane, .leaflet-map-pane {
    display: none;
}

.leaflet-container, .leaflet-touch.leaflet-retina, .leaflet-safari.leaflet-fade-anim, .leaflet-grab.leaflet-touch-drag, .leaflet-touch-zoom {
    background: rgba(255, 0, 0, 0);
    position: absolute;
    height: 77%;
    width: 89%;
}

#leaflet-control-zoom-in {
    display: none;
}

.leaflet-control-zoom {
    display:none;
}



.geocoder-control-input {
    width: 100px,
    
}
