@media (max-width: 376px){
  .ForecastSlider .ContainerSelect{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .card1 {
    width: 350px;
    height: 550px;
    margin-left: 12px;
  }

  .slick-list{
    height: 510px!important;
  }

  .slick-dots .slick-active{
    opacity: 0.5!important;
  }

  button::before {
    background-color:white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}