.container_nav {
  background-color: #182c61;
  padding-left: 35px;
}

.logo-start {
  color: #538abc;
  font-family: 'aqua';
  display: inline;
  font-size: 27px;
  margin-left: -17px
}
.logo-end {
  color: #e9e98a;
  font-family: 'aqua';
  display: inline;
  font-size: 27px;
}

.signup {
  text-decoration: none;
  margin-right: 45px;
  color: #e9e98a;
}

Nav {
  width: 100%;
  color: #e9e98a;
  height: 75px;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px 0;
}

.container_nav ul{
  margin-bottom: 0!important;
}

.hfJTxb,
.hwKgKf{
  margin-top: 6px!important;
}