.burger-Nav,
.li:hover {
  cursor: pointer;
}

.sc-AxjAm.jZJahn {
  position: absolute;
  z-index:2
}

.ewZLYw{
  right: 12px!important;
  left: 0!important;
  text-align: center!important;
}

.gEGfTi{
  right: 0!important;
  left: 0!important;
  text-align: center!important;
}