@font-face {
  src: url('./../src/font/aqua.ttf');
  font-family: 'aqua';
}
body {
  background-color: #182c61;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'aqua', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
